{% extends 'index.html' %}

{% block content %}
<h2>{{ title }}</h2>
<div class="row my-3">
  <div class="col-md-4">
    <select class="form-select" id="group-select">
      <option value="-" selected disabled>Выберите кафедру</option>
      <option value="">Все кафедры</option>
      {% for gr in groups %}
      <option value="{{ gr.id }}" {% if request.args.get('group') | int == gr.id %} selected {% endif %}>{{ gr.title }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="col-md-3"></div>
</div>
<div class="row my-2">
  <div class="col-md-4">
    <a class="btn btn-primary" href="{{ url_for('add_contest') }}">Добавить новую запись</a>
  </div>
  <div class="col-md d-flex align-items-center"><span class="ms-auto">Всего олимпиад в базе: {{ contests|length }}</span></div>
</div>
<table class="table">
  <thead>
  <tr>
    <th style="width: 20px">№</th>
    <th>Название</th>
    <th style="width: 120px">Тип</th>
    <th style="width: 100px">Класс</th>
    <th style="width: 100px">Предметы</th>
    <th style="width: 100px">Кафедра</th>
    <th style="width: 60px"></th>
  </tr>
  </thead>
  <tbody>
  {% for cnt in contests %}
  <tr>
    <td>{{ loop.index }}</td>
    <td>
      {{ cnt.title }} (<a href="{{ cnt.link }}">Перейти на сайт</a>)<br>
      <b>Этапы:</b>
      <ul class="list-stage">
        {% for st in cnt.stages %}
        <li>
          <a href="{{ st.link }}">{{ st.title }}</a> - <span deadline="{{ st.deadline }}">{% if st.deadline is not none %}{{ st.deadline.strftime('%d.%m.%Y') }} {% else %} Нет даты {% endif %}</span>
          <div class="js-edit-stage edit-stage" stage="{{ st.id }}"></div>
          <div class="del-stage js-del-stage" stage="{{ st.id }}"></div>
        </li>
        {% endfor %}
        <a href="#" contest="{{ cnt.id }}" class="js-add-stage">Добавить...</a>
      </ul>

    </td>
    <td>
      {{ cnt.type }}<br>
      {% if cnt.level != '-' %}
      {{ cnt.level }} уровень
      {% else %}
      Без уровня
      {% endif %}
    </td>
    <td>{{ cnt.grade }}</td>
    <td>
      {% for sb in cnt.subjects %}
      {{ sb.name }}<br>
      {% endfor %}
    </td>
    <td>{{ cnt.group.title }}</td>
    <td>
      <div class="d-flex">
        <a href="{{ url_for('edit_contest', _method='GET', contest_id=cnt.id|int) }}" class="edit-contest" contest="{{ cnt.id }}"></a>
        <a href="#" class="del-contest js-del-contest" contest="{{ cnt.id }}"></a>
      </div>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>

<!-- Всплывающее окно при удалении объекта -->
<div class="modal fade" id="delModal" tabindex="-1" aria-labelledby="delModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delModalLabel">Удаление объекта</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Вы действительно хотите удалить этот объект?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <a type="button" class="btn btn-danger" id="btn-delete" href="">Удалить</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
  const form_stage = `
    <form id="form-stage" method="post">
      {{ form_stage.csrf_token() }}
      <div class="my-2">
        {{ form_stage.title(class="form-control", placeholder="Название") }}
      </div>
      <div class="my-2">
        {{ form_stage.link(class="form-control", placeholder="Ссылка") }}
      </div>
      <div class="row">
        <div class="col-md mb-2">
          {{ form_stage.deadline(class="form-control") }}
        </div>
        <div class="col-md-3 mb-2 d-flex align-items-center">
          {{ form_stage.submit(class="done-stage" )}}
          <input id="form-stage-cancel" class="cancel-stage" type="button">
        </div>
      </div>
    </form>
    `;
</script>
<script src="{{url_for('static', filename='js/contest_view.js')}}"></script>
{% endblock %}